* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #FFEBD2;
}

.headerMenu {
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 20px;
    background-color: #2B3349;
}

a.menu:link,
a.menu:visited,
a.menu:active {
    font-weight: bold;
    text-decoration: none;
    color: #fc8a55;
}
a.menu:hover {
    color: #e77168;
}

a:link, a:visited, a:active{
    text-decoration: underline wavy;
    color: #223c63;
}
a:hover{
    color: #4269a5;
}

main {
    margin-top: 55px;
    padding: 20px;
    height: 100vh;
}

.footerFinal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    color: #fc8a55;
    padding: 10px;
    background-color: #2b3349;
}

h1 {
    font-size: 24px;
    color: #f6723b;
}

h2 {
    color: #d65316;
    font-size: 22px;
}

h3 {
    color: #df3d14;
    font-size: 20px;
}



/*Pagina index*/


div.index{
    border-radius: 5px;
    border: 2px solid transparent;
    width: 500px;
    background-color: #8F4E51;
    margin-bottom: 5px;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.index:hover{
    background-color: #cf8387;
}

a.index:link, a.index:visited, a.index:active{
    /*Text*/
    font-size: 20px;
    text-decoration: none;
    color: #fc8a55;
    font-weight: bold;
}